:host {
  .col-lineno {
    min-width: 60px;
  }

  .trace-line {
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    font-size: 12px;
    padding-top: .1rem;
    padding-bottom: .1rem;
    white-space: pre;
  }

  .filename {
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    font-size: 12px;
  }

  .error-line {
    background-color: #ffeef0;
  }

  .trace-arrow {
    width: 18px;
    height: 18px;
  }
}
