<form class="form-group" (ngSubmit)="onNewPasswordSubmit()" [formGroup]="newPasswordForm">
  <label for="password">Password</label>
  <input type="password"
         id="password"
         formControlName="password"
         class="form-control"
         required>
  <label for="password-confirmation">Password confirmation</label>
  <input type="password"
         id="password-confirmation"
         formControlName="password_confirmation"
         class="form-control"
         required>
  <button type="submit"
          class="btn btn-success"
          [disabled]="newPasswordForm.invalid || submitDisabled">submit</button>
</form>
