<form class="form-group" (ngSubmit)="onNewPasswordSubmit()" [formGroup]="newPasswordForm">
  <label for="password">Password</label>
  <input  type="password"
          name="password"
          id="password"
          formControlName="password"
          class="form-control"
          required>
  <label for="passwordConfirmation">Password confirmation</label>
  <input  type="password"
          name="passwordConfirmation"
          id="passwordConfirmation"
          formControlName="password_confirmation"
          class="form-control"
          required>
  <button type="submit"
          class="btn btn-success"
          [disabled]="newPasswordForm.invalid || submitDisabled">submit</button>
</form>
