<div class="activity-header d-flex align-items-center">
  <span class="font-weight-light">Recent activity</span>
</div>
<div class="border-bottom my-3"></div>
<div class="container-fluid">
  <div *ngFor="let activity of activities" class="row align-items-center mb-3">
    <img ngxGravatar [email]="activity.owner.email || ''">
    <p class="ml-1 mb-0 mx">
      <span class="font-weight-bold">{{activity.owner.nickname}}</span> pushed
      <span class="font-weight-bold"><a [routerLink]="['/projects', activity.recipient.slug, 'event', activity.trackable.id]"> {{activity.trackable.title}}</a></span>
      <span class="badge badge-pill badge-warning mx-1"> {{activity.trackable.occurence_count}}</span>
      <span class="badge badge-secondary mx-1"> {{activity.trackable.framework}}</span>
      <span> from <span class="font-weight-bold">{{activity.parameters.status.previous}}</span> to <span class="font-weight-bold">{{activity.parameters.status.new}}</span></span>
      <span> in <a class="font-weight-bold" [routerLink]="['/projects', activity.recipient.slug]">{{activity.recipient.name}}</a></span>
      <span class="text-muted"> {{activity.created_at | timeAgo}}</span>
    </p>
  </div>
</div>
