<div class="px-3 pb-3">
  <h4>Member list:</h4>
</div>
<div class="list-group">
  <div *ngFor="let item of projectUsers"
       class="list-group-item d-flex justify-content-between align-items-center">
    <p class="m-0"><span class="font-weight-bold">{{item.user.email}}</span> as {{item.role}}</p>
    <button confirm (confirm)="onDeleteProjectUser(item.id);"
    *ngIf="isCurrentUserOwner"
    [hidden]="item.user_id == currentUser.id"
    class="btn btn-danger btn-sm">Remove</button>
  </div>
</div>
