<div class="container">
  <div class="row border-bottom py-3">
    <div class="col p-0">
      <h5 class="font-weight-normal">
      {{event.title}}
      </h5>
      <p class='m-0'>{{event.message}}</p>
    </div>
    <div class="col-md-2 float-right">
      <div class="btn-group" dropdown>
        <button class="btn btn-sm btn-success mb-2 dropdown-toggle" aria-controls="dropdown-basic" dropdownToggle>
          <span class="text-capitalize">
            status: <span class="font-weight-bold">{{event.status}}</span>
          </span>
        </button>
        <ul class="dropdown-menu" id="dropdown-basic" role="menu" aria-labelledby="button-basic" *dropdownMenu>
          <li role="menuitem" *ngFor="let item of statuses | keyvalue" [hidden]="event.status == (item.key | lowercase)">
            <a (click)="updateEventStatus(item.key);" class="dropdown-item text-capitalize">{{item.key}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
 <div class="row">
  <tabset class="py-2 m-0" type="pills" #staticTabs>
    <tab heading="Backtrace">
    <div *ngIf="event.backtrace?.length">
        <div class="list-group my-2">
          <div *ngIf="event.framework == 'browser-js'">
            <div *ngFor="let line of event.backtrace" class="list-group-item font-weight-bold text-muted rounded my-1">
              {{line.method}} <span class="font-weight-normal">in</span> {{line.filename}} <span class="font-weight-normal">at line:</span> {{line.lineno}}<span class="font-weight-normal">, column:</span> {{line.colno}}
            </div>
          </div>
          <div *ngIf="event.framework != 'browser-js'">
            <label [attr.for]="'backtrace-line-' + i"
                   *ngFor="let line of event.backtrace; let i = index"
                   [class.border-danger]="isProjectException(line.filename)"
                   class="list-group-item flex-column align-items-start rounded cursor-pointer my-1">
              <div class="font-weight-bold text-size"
                   [class.text-muted]="!isProjectException(line.filename)">{{line.filename}}<span class="text-muted font-weight-normal"> at line: </span>{{line.lineno}}
              </div>
              <input type="checkbox"
                     [id]="'backtrace-line-' + i"
                     hidden
                     [checked]="isProjectException(line.filename)">
              <div *ngIf="line.context" class="item-content p-2">
                <pre *ngFor="let line of line.context?.pre" class="m-0">{{line}}</pre>
                <pre class="rounded bg-danger text-white m-0">{{line.code}}</pre>
                <pre *ngFor="let line of line.context?.post" class="m-0">{{line}}</pre>
              </div>
            </label>
          </div>
        </div>
    </div>
  </tab>
  <tab heading="Request Data"></tab>
  <tab heading="Occurrences" (selectTab)="getOccurrences();">
    <table class="table table-hover my-2">
      <tr *ngFor="let occurrence of occurrences; let i = index">
        <div class="cursor-pointer" (click)="selectTab(0)" [routerLink]="['/projects', projectId, 'event', occurrence.id]">
          <td># {{i}}</td>
          <td>{{occurrence.created_at | timeAgo}}</td>
          <td>{{occurrence.title}}</td>
          <td>{{occurrence.message}}</td>
        </div>
     </tr>
    </table>
  </tab>
  </tabset>
 </div>
</div>
