:host {
  input[type=checkbox]:checked + div {
    display: block;
  }
  .item-content {
    display: none;
  }
  .trace-info {
    margin: 0;
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
    font-size: 12px;
  }
}
