<div class="container mt-3">
  <div class="row border-bottom">
    <div class="col-md-10">
      <h4 class="font-weight-bold">{{event.title}}</h4>
      <h6>{{event.message}}</h6>
    </div>
    <div class="col-md-2">
      <div class="btn-group" dropdown>
        <button class="btn btn-sm btn-success mb-2 dropdown-toggle" aria-controls="dropdown-basic" dropdownToggle>
          <span class="text-capitalize">
            status: <span class="font-weight-bold">{{event.status}}</span>
          </span>
        </button>
        <ul class="dropdown-menu" id="dropdown-basic" role="menu" aria-labelledby="button-basic" *dropdownMenu>
          <li role="menuitem" *ngFor="let item of statuses | keyvalue" [hidden]="event.status == (item.key | lowercase)">
            <a (click)="updateEventStatus(item.key);" class="dropdown-item text-capitalize">{{item.key}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div *ngIf="event.backtrace.length" class="row border-bottom mt-2">
    <div class="col-md">
      <h5 class="font-weight-bold">Backtrace:</h5>
      <div class="list-group">
        <label [attr.for]="'backtrace-line-' + i"
               *ngFor="let line of event.backtrace; let i = index"
               [class.border-danger]="isProjectException(line.filename)"
               class="list-group-item list-group-item-action flex-column align-items-start rounded cursor-pointer my-1">
          <div class="font-weight-bold text-size"
               [class.text-muted]="!isProjectException(line.filename)">{{line.filename}}<span class="text-muted font-weight-normal"> at line: </span>{{line.lineno}}
          </div>
          <input type="checkbox"
                 name="backtrace"
                 [id]="'backtrace-line-' + i"
                 hidden
                 [checked]="isProjectException(line.filename)">
          <div class="item-content p-2">
            <pre *ngFor="let line of line.context.pre" class="m-0">{{line}}</pre>
            <pre class="rounded bg-danger text-white m-0">{{line.code}}</pre>
            <pre *ngFor="let line of line.context.post" class="m-0">{{line}}</pre>
          </div>
        </label>
      </div>
    </div>
  </div>
</div>
