<div class="container">
  <div class="row justify-content-between border-bottom border-top align-items-center mt-3">
    <div>
      <h5 class="font-weight-bold">{{project.name}}</h5>
      <h6>Api-key: <span class="bd-highlight">{{project.api_key}}</span></h6>
    </div>
    <div>
      <button [routerLink]="['/projects', project.id, 'edit']" class="btn btn-large btn-warning">Edit</button>
      <button (click)="confirmDelete();" class="btn btn-large btn-danger ml-2">Delete</button>
    </div>
  </div>
  <h5 class="font-weight-bold">Events Board:</h5>
  <app-events-board></app-events-board>
</div>
