<div class="container">
  <div class="row justify-content-between border-bottom border-top align-items-center mt-3">
    <div>
      <h5 class="font-weight-bold">{{project.name}}</h5>
      <h6>Api-key: {{project.api_key}}</h6>
    </div>
    <div>
      <button [routerLink]="['/projects', project.id, 'edit']" class="btn btn-large btn-warning">Edit</button>
      <button (click)="confirmDelete();" class="btn btn-large btn-danger ml-2">Delete</button>
    </div>
  </div>
  <h5 class="font-weight-bold">Caugth exceptions:</h5>
  <ul>
    <li *ngFor="let event of events">
      <a [routerLink]="['/projects',project.id,'event',event.id]">
        <span class="font-weight-bold">{{event.attributes.title}}:</span> {{event.attributes.message}}
      </a>
    </li>
  </ul>
</div>
