<div class="container border-bottom mt-2">
  <div class="mb-2">
    <h5 class="font-weight-bold">{{project.name}}</h5>
    <button (click)= "copyApiKey();" class="btn btn-sm btn-primary">Copy API Key</button>
    <button [routerLink]="['/projects', project.id, 'edit']" class="btn btn-sm btn-warning ml-2">Edit</button>
    <button (click)="confirmDelete();" class="btn btn-sm btn-danger ml-2">Delete</button>
  </div>
</div>
<div class="container">
  <h5 class="font-weight-bold">Events Board:</h5>
  <app-events-board [projectId]="projectId"></app-events-board>
</div>
