@import '../../../styles/variables';

.project{
  background-color: $athens_gray;
  padding: 8%;
  margin: 10px 0 0;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
