@import '../../../styles/variables';

:host {
  .navigation-wrapper {
    background-color: $alabaster;
  }
  .project-name {
    font-size: 18px;
  }
  .nav-link {
    color: $trout;
  }
  .active {
    border-top: 3px solid #E36209;
    color: $black;
  }
}
