<div class="container-fluid h-100">
  <div class="row flex-column h-100 justify-content-between">
    <div class="px-0 col">
      <div class="activity-list-header d-flex align-items-center">
        <span class="font-weight-light">Recent activity</span>
      </div>
      <div class="border-bottom my-3"></div>
      <div class="container-fluid">
        <div *ngIf="activities.length <= 0 && !loading" class="row justify-content-center">
          <p class="text-muted display-4">Nothing happened yet...</p>
        </div>
        <div *ngFor="let activity of activities" [ngSwitch]="activity.trackable_type">
          <app-activity-event-item [item]="activity" *ngSwitchCase='"Event"' class="row align-items-center mb-3"></app-activity-event-item>
        </div>
      </div>
    </div>
    <div *ngIf="activityTotalCount > 20" class="px-0 col-auto align-self-center">
      <pagination [itemsPerPage]="20" [maxSize]="10" [(ngModel)]="currentPage" [totalItems]="activityTotalCount" (pageChanged)="pageChanged($event)"></pagination>
    </div>
  </div>
</div>
