$icon-font-path: '../node_modules/bootstrap-sass/assets/fonts/bootstrap/';
$white: #FFFFFF;
$black: #000000;
$shark: #24292E;
$athens_gray: #EFF1F3;
$shuttle_gray: #586069;
$geyser: #DEE2E6;
$christine: #E36209;
$science_blue: #0366D6;
$silver: #BBBBBB;
$trout: #495057;
$mirage: #141C29;
$outer_space: #2B3137;
$mercury: #E2E2E2;
$nepal: #8AA6B9;
$chablis: #FFEEF0;
// override bootstrap

$font-size-base: 0.875rem;
