$icon-font-path: '../node_modules/bootstrap-sass/assets/fonts/bootstrap/';
$mantis: #76B852;
$olivine: #8DC26F;
$white: #FFFFFF;
$concrete: #F2F2F2;
$fruit_salad: #4CAF50;
$nobel: #B3B3B3;
$tundora: #4D4D4D;
$black: #000000;
$pomegranate: #EF3B3A;
$cod_gray: #1A1A1A;
$athens_gray: #F8F9FA;
$gallery: #EEEEEE;
$shark: #24292E;
