$icon-font-path: '../node_modules/bootstrap-sass/assets/fonts/bootstrap/';
$mantis: #76b852;
$olivine: #8DC26F;
$white: #FFFFFF;
$concrete: #f2f2f2;
$fruit_salad: #4CAF50;
$nobel: #b3b3b3;
$tundora: #4d4d4d;
$black: #000000;
$pomegranate: #EF3B3A;
