@import './variables';

.cursor-pointer {
  cursor: pointer;
}
.cursor-move {
  cursor: move;
}
.cursor-default {
  cursor: default;
}
.bd-highlight {
  background-color: rgba(92, 109, 103, 0.15);
  border: 1px solid rgba(86,61,124,.15);
}
.btn-xl {
  padding: 1rem 1.5rem;
}
.break-word-all {
  word-break: break-all;
}
.user-select-none {
  user-select: none;
}
.preformatted {
  white-space: pre;
}
.text-decoration-none *, .text-decoration-none *:hover {
  text-decoration: none;
}
.avatar {
  width: 25px;
  height: 25px;
}
.card-avatar {
  width: 100px;
  height: 100px;
}
.hover-gray:hover {
  background-color: $primary;
}
.hover-border:hover {
  border: 2px solid $primary;
}

@for $i from 1 through 4 {
  .filter-invert-#{$i*25} {
    filter: invert(percentage($i*25/100));
  }

  .hover-rounded:hover {
    border-radius: .25rem;
  }
}

.last-border-none:last-child { border: none; }
