.btn-success {
  background-image: linear-gradient(-180deg,#34d058,#28a745 90%);
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-move {
  cursor: move;
}

.bd-highlight {
  background-color: rgba(92, 109, 103, 0.15);
  border: 1px solid rgba(86,61,124,.15);
}
