@import './variables';

.cursor-pointer {
  cursor: pointer;
}
.cursor-move {
  cursor: move;
}
.cursor-default {
  cursor: default;
}
.bd-highlight {
  background-color: rgba(92, 109, 103, 0.15);
  border: 1px solid rgba(86,61,124,.15);
}
.btn-xl {
  padding: 1rem 1.5rem;
}
