.card-body {
  padding: 0 1.25rem;
}

.trace-group .panel-body.card-block.card-body {
  padding-left: 0;
  padding-right: 0;
}

div.panel-heading.card-header {
  cursor: pointer;
}

app-project .subsciption-alert {
  .alert {
    border-radius: 0;
    margin: 0;
  }
}

.card-body {
  padding: 0 1.25rem;
}
