.public-page {
  .login-page {
    width: 380px;
    padding: 8% 0 0;
    margin: auto;
  }
  .form {
    position: relative;
    z-index: 1;
    background: $white;
    max-width: 380px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  .form input {
    font-family: sans-serif;
    outline: 0;
    background: $concrete;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  .form textarea {
    font-family: sans-serif;
    outline: 0;
    background: $concrete;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  .form button {
    font-family: sans-serif;
    text-transform: uppercase;
    outline: 0;
    width: 100%;
    padding: 15px;
    margin: 0 0 15px;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }
  .form .message {
    margin: 15px 0 0;
    color: $nobel;
    font-size: 12px;
  }
  .form .message a {
    color: $fruit_salad;
    text-decoration: none;
  }
  .form .register-form {
    display: none;
  }
  .container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
  }
  .container:before, .container:after {
    content: "";
    display: block;
    clear: both;
  }
  .container .info {
    margin: 50px auto;
    text-align: center;
  }
  .container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: $cod_gray;
  }
  .container .info span {
    color: $tundora;
    font-size: 12px;
  }
  .container .info span a {
    color: $black;
    text-decoration: none;
  }
  .container .info span .fa {
    color: $pomegranate;
  }
}
