<form [formGroup]="inviteForm" (ngSubmit)="onInviteSumbit()" class="h-100">
  <div class="d-flex flex-column justify-content-between align-items-center mx-auto h-100 nav-item nav-link text-center bg-light rounded shadow-sm hover-rounded py-3">
    <img src="assets/bugno-logo.svg" class="card-avatar rounded-circle">
    <div class="w-75 font-weight-bold mb-3">
      <input type="email"
      formControlName="email"
      placeholder="new@member.org"
      class="form-control"
      required>
    </div>
    <button type="submit" class="btn btn-success w-75">Invite</button>
  </div>
</form>
