<div class="container-fluid navbar-light">
  <div class="row navbar-nav flex-md-row p-1 p-lg-5">
    <app-projects-item *ngFor="let project of projects" [project]="project" class="col col-md-6 col-lg-4 col-xl-3 col-xxl-2 mb-5"></app-projects-item>
    <div class="col col-md-6 col-lg-4 col-xl-3 col-xxl-2 mb-5">
      <a [routerLink]='["/projects/new"]' class="h-100 project-card nav-item nav-link shadow-sm bg-light d-flex align-items-center justify-content-center hover-rounded">
        <h3 class="font-weight-normal font-italic">New project</h3>
      </a>
    </div>
  </div>
</div>
