@import '../../../styles/variables';

:host {
  .container-fluid {
    background-color: $alabaster;
  }
  .col-welcome {
    height: 500px;
  }
  .welcome-message {
    font-size: 5rem;
    font-weight: 300;
    user-select: none;
  }
}
