<div class="docs-text">
  <markdown># Getting started</markdown>
  <markdown>## How to create project</markdown>
  <markdown>1. Navigate to dashboard, click "New" on the sidebar.</markdown>
  <markdown>2. Enter your project name and description if you wish.</markdown>
  <markdown>## How to invite collaborators</markdown>
  <markdown>1. To invite your collaborators navigate to access tab.</markdown>
  <markdown>2. Enter your collaborator by email if he/her is not signed up yet or his/her github associated email.</markdown>
  <markdown>3. Invited collaborator should sign in with registration token</markdown>
  <markdown>## Manage subscription</markdown>
  <markdown>1. To start capturing exceptions to have to add a subscription.</markdown>
  <markdown>2. Navigate to subscription tab.</markdown>
  <markdown>3. Choose most adorable plan.</markdown>
  <markdown>4. Enter your credit card credentials.</markdown>
</div>
