<div class="container-fluid">
  <div class="row">
    <div class="col-auto docs-text text-justify mt-3">
      <h1 class="mt-3">Getting started</h1>
      <h2 class="mt-3" id="create-project">How to create project</h2>
      <ol>
        <li class="mt-2">Navigate to dashboard, click <span class="px-1 bg-success text-light rounded">New</span> on the sidebar.</li>
        <li class="mt-2">Enter your project name and description if you wish.</li>
      </ol>
      <h2 class="mt-3" id="invite-collaborators">How to invite collaborators</h2>
      <ol>
        <li class="mt-2">To invite your collaborators navigate to access tab.</li>
        <li class="mt-2">Enter your collaborator by email if he/her is not signed up yet or his/her github associated email.</li>
        <li class="mt-2">Invited collaborator should sign in with registration token</li>
      </ol>
      <h2 class="mt-3" id="manage-subscription">Manage subscription</h2>
      <ol>
        <li class="mt-2">To start capturing exceptions to have to add a subscription.</li>
        <li class="mt-2">Navigate to subscription tab.</li>
        <li class="mt-2">Choose most adorable plan.</li>
        <li class="mt-2">Enter your credit card credentials.</li>
      </ol>
    </div>
  </div>
</div>
