<div class="container-fluid">
  <div class="row">
    <div class="col-auto docs-text text-justify py-3">
      <h1>Getting started</h1>
      <h2 id="create-project">How to create project</h2>
      <ol>
        <li>Navigate to dashboard, click <span class="px-1 bg-success text-light rounded">New</span> on the sidebar.</li>
        <li>Enter your project name and description if you wish.</li>
      </ol>
      <h2 id="invite-collaborators">How to invite collaborators</h2>
      <ol>
        <li>To invite your collaborators navigate to access tab.</li>
        <li>Enter your collaborator by email if he/her is not signed up yet or his/her github associated email.</li>
        <li>Invited collaborator should sign in with registration token</li>
      </ol>
      <h2 id="manage-subscription">Manage subscription</h2>
      <ol>
        <li>To start capturing exceptions to have to add a subscription.</li>
        <li>Navigate to subscription tab.</li>
        <li>Choose most adorable plan.</li>
        <li>Enter your credit card credentials.</li>
      </ol>
    </div>
  </div>
</div>
