<form class="form-group" (ngSubmit)="onUpdateProfileSubmit()" [formGroup]="securityForm">
  <label for="passwordCurrent">Current password</label>
  <input  type="password"
          name="passwordCurrent"
          id="passwordCurrent"
          formControlName="passwordCurrent"
          class="form-control"
          required>
  <label for="password">Password</label>
  <input  type="password"
          name="password"
          id="password"
          formControlName="password"
          class="form-control"
          required>
  <label for="passwordConfirmation">Password confirmation</label>
  <input  type="password"
          name="passwordConfirmation"
          id="passwordConfirmation"
          formControlName="passwordConfirmation"
          class="form-control"
          required>
  <button type="submit"
          class="btn btn-success"
          [disabled]="securityForm.invalid || submitDisabled">update</button>
</form>
