<form class="form-group" (ngSubmit)="onUpdateProfileSubmit()" [formGroup]="securityForm">
  <label for="current-password">Current password</label>
  <input  type="password"
          id="current-password"
          formControlName="passwordCurrent"
          class="form-control"
          required>
  <label for="password">Password</label>
  <input  type="password"
          id="password"
          formControlName="password"
          class="form-control"
          required>
  <label for="password-confirmation">Password confirmation</label>
  <input  type="password"
          id="password-confirmation"
          formControlName="passwordConfirmation"
          class="form-control"
          required>
  <button type="submit"
          class="btn btn-success"
          [disabled]="securityForm.invalid || submitDisabled">update</button>
</form>
