<img [src]="item.owner.image || 'assets/bugno-logo.svg'" class="avatar rounded-circle">
<p class="ml-1 mb-0 mx">
  <span *ngIf="item.owner_type == 'User'" class="font-weight-bold">{{item.owner.nickname}}</span>
  <a *ngIf="item.owner_type == 'Event'" [routerLink]="['/projects', item.recipient.slug, 'event', item.owner.id]" class="font-weight-bold">occurrence</a>
&nbsp;pushed
  <a [routerLink]="['/projects', item.recipient.slug, 'event', item.trackable.id]" class="font-weight-bold">{{item.trackable.title}}</a>
  <span class="badge badge-pill badge-secondary mx-1"> {{item.trackable.occurrence_count}}</span>
&nbsp;from
  <span class="font-weight-bold">&nbsp;{{item.parameters.status.previous}}</span>
&nbsp;to
  <span class="font-weight-bold">&nbsp;{{item.parameters.status.new}}</span>
&nbsp;in
  <a class="font-weight-bold" [routerLink]="['/projects', item.recipient.slug]">&nbsp;{{item.recipient.name}}</a>
  <span class="text-muted"> {{item.created_at | timeAgo}}</span>
</p>
