<div *ngIf="eventGroups.length" [hidden]="loading" class="container-fluid">
  <div *ngFor="let group of eventGroups" class="row bg-primary flex-column rounded">
    <div class="col-auto border-bottom">
      <h5 class="text-muted py-3 m-0">
        {{group[0] | date:'mediumDate'}}
      </h5>
    </div>
    <div class="col-auto px-0">
      <div class="container-fluid">
        <div *ngFor="let occurrence of group[1]" class="row row-occurrence">
          <a [routerLink]="['/projects', projectId, 'event', occurrence.id]" class="py-1 w-100">
            <div class="container-fluid">
            <div class="row text-decoration-none">
              <div class="col-auto col-time text-left">
                {{occurrence.created_at | date:'mediumTime'}}
              </div>
              <div class="col-auto">
                {{occurrence.title}}
              </div>
              <div class="col text-truncate">
                {{occurrence.message}}
              </div>
            </div>
            <div *ngIf="occurrence.user_agent" class="row no-gutters">
              <div *ngFor="let field of occurrence.user_agent | keyvalue" class="col-auto">
                <span class="badge badge-dark mr-2">{{field.key}}: {{field.value}}</span>
              </div>
            </div>
          </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="eventsTotalCount > 25" class="row justify-content-center py-3">
    <pagination [itemsPerPage]="25" [(ngModel)]="currentPage" [maxSize]="10" [totalItems]="eventsTotalCount" (pageChanged)="occurrencesPageChanged($event)"></pagination>
  </div>
</div>
<div *ngIf="!eventGroups.length" [hidden]="loading">
  <h3 class="display-4 my-5 text-center">There are no any occurrence yet.</h3>
</div>
