<div *ngIf="occurrencesService.occurrencesByDate" [hidden]="occurrencesService.occurrencesLoading" class="container-fluid">
  <div *ngFor="let group of occurrencesService.occurrencesByDate" class="row flex-column border-bottom">
    <div class="col-auto border-bottom">
      <h5 class="text-muted py-3">
        {{group[0] | date:'mediumDate'}}
      </h5>
    </div>
    <div class="col-auto px-0">
      <div class="container-fluid">
        <div *ngFor="let occurrence of group[1]" class="row row-occurrence">
          <a *ngIf="!isEmpty(eventService.event);" [routerLink]="['/projects', eventService.event.project_id, 'event', occurrence.id]" class="py-3 w-100">
            <div class="container-fluid">
            <div class="row text-dark text-decoration-none">
              <div class="col-auto col-time text-left">
                {{occurrence.created_at | date:'mediumTime'}}
              </div>
              <div class="col-auto">
                {{occurrence.title}}
              </div>
              <div class="col text-truncate">
                {{occurrence.message}}
              </div>
            </div>
            <div *ngIf="occurrence.user_agent" class="row no-gutters">
              <div *ngFor="let field of occurrence.user_agent | keyvalue" class="col-auto">
                <span class="badge badge-dark mr-2">{{field.key}}: {{field.value}}</span>
              </div>
            </div>
          </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="occurrencesService.occurrenceTotalCount > 25" class="row justify-content-center py-3">
    <pagination [disabled]="isEmpty(eventService.event)" [itemsPerPage]="25" [(ngModel)]="currentPage" [totalItems]="occurrencesService.occurrenceTotalCount" (pageChanged)="occurrencesPageChanged($event)"></pagination>
  </div>
</div>
<div *ngIf="isEmpty(occurrencesService.occurrencesByDate)" [hidden]="occurrencesService.occurrencesLoading">
  <h3 class="display-4 my-5 text-center">There are no any occurrence yet.</h3>
</div>
