@import '../../../../styles/variables';

:host {
  nav.navbar {
    height: 4rem;
    background-color: $shark;
  }
  .dropdown-menu {
    width: 180px;
    margin: .25rem;
    padding: .5rem 0;
    text-overflow: ellipsis;
  }
  .dropdown-item {
    padding: .5rem 1rem;
    white-space: normal;
  }
  .dropdown-item:hover{
    background-color: white;
    color: black;
  }
}
