@import '../../../../styles/variables';

:host {
  .navbar {
    background-color: $shark;
    padding: .5rem 1rem;
    &-avatar {
      height: 20px;
      width: 20px;
    }
  }
  .user-dropdown-menu {
    margin: 14px 0 0;
    padding: 0;
    .dropdown-item {
      padding: 8px 16px;
    }
  }

  .sign-in-github-logo {
    height: 26px;
    width: 26px;
  }
  .bugno-logo {
    height: 35px;
    width: 35px;
    &:hover {
      filter: invert(100%);
    }
  }
  .dropdown-menu-arrow {
    top: -25px;
    left: 50%;
    width: 0;
    height: 0;
    position: relative;
  }
  .dropdown-menu-arrow:before,
  .dropdown-menu-arrow:after {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-width: 7px 8px;
    border-style: solid;
    border-color: transparent;
    z-index: 1001;
  }
  .dropdown-menu-arrow:after {
    bottom: -25px;
    right: -78px;
    border-bottom-color: $white;
  }
  .dropdown-menu-arrow:before {
    bottom: -25px;
    right: -78px;
    border-bottom-color: rgba($white, .15);
  }
}
