<nav class="navbar navbar-expand navbar-dark align-items-center sticky-top">
  <a class="navbar-brand" [routerLink]='["/"]'>
    <img src="assets/bugno-logo.svg" class="bugno-logo" alt="Bugno-logo">
  </a>
  <ul class="navbar-nav" *ngIf="!localStorageService.currentUser">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle cursor-default">
        Pricing
      </a>
      <div class="dropdown-menu dropdown-menu_transition-smooth">
        <a class="dropdown-item font-weight-bold" [routerLink]="'plans'">Plans</a>
        <div class="border-bottom my-3"></div>
        <a class="dropdown-item dropdown-item_disabled disabled">Compare</a>
        <a class="dropdown-item dropdown-item_disabled disabled">Contact Us</a>
      </div>
    </li>
  </ul>
  <a class="nav-link ml-auto bordered-link cursor-pointer d-flex align-items-center" (click)="onSignInWithGithub();" *ngIf="!localStorageService.currentUser">
    <img src="assets/github_octocat.svg" alt="github_logo" class="sign-in-github-logo mr-2">
    <span>Get In</span>
  </a>
  <div class="dropdown ml-auto" *ngIf="localStorageService.currentUser">
    <div class="dropdown-toggle">
      <span class="user-email">{{localStorageService.currentUser.email}}</span>
      <img [attr.src]="localStorageService.currentUser.image || 'assets/bugno-logo.svg'" [class.invert-color]="!localStorageService.currentUser.image" class="avatar">
    </div>
    <ul class="dropdown-menu dropdown-menu_right dropdown-menu_transition-smooth text-center">
      <li>
        <a class="dropdown-item" [routerLink]="'dashboard'">Dashboard</a>
      </li>
      <div class="border-bottom my-3"></div>
      <li class="dropdown-item cursor-pointer" (click)="signOut();">
        <a (click)="false">
          Sign Out
        </a>
      </li>
    </ul>
  </div>
</nav>
