<nav class="navbar navbar-expand-lg navbar-dark p-3">
  <a class="navbar-brand py-0 m-0" [routerLink]='["/"]'>Radar</a>
  <button (click)="isOpen = !isOpen" class="navbar-toggler" type="button" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav" [class.show]="isOpen">
    <ul class="navbar-nav ml-auto align-items-center">
      <li *ngIf="!localStorageService.currentUser" class="nav-item">
        <a class="nav-link text-white" [routerLink]='["/register"]'>Register</a>
      </li>
      <li *ngIf="!localStorageService.currentUser" class="nav-item">
        <a class="nav-link text-white border border-white rounded" [routerLink]='["/login"]'>Log In</a>
      </li>
      <li *ngIf="localStorageService.currentUser" class="nav-item" (click)="signOut();">
        <a (click)="false" class="nav-link cursor-pointer text-white">Log Out</a>
      </li>
      <li dropdown *ngIf="localStorageService.currentUser" class="nav-item">
        <a [routerLink]='["/settings"]'>
          <img ngxGravatar [email]="localStorageService.currentUser.email || ''">
        </a>
      </li>
    </ul>
  </div>
</nav>
