<nav class="navbar navbar-expand-lg navbar-dark p-3">
  <a class="navbar-brand py-0 m-0" [routerLink]='["/"]'>Radar</a>
  <button (click)="isOpen = !isOpen"
           class="navbar-toggler"
           type="button"
           aria-controls="navbarNav"
           aria-expanded="false"
           aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav" [class.show]="isOpen">
    <ul class="navbar-nav ml-auto">
      <li *ngIf="!localStorageService.currentUser">
        <a class="nav-link" [routerLink]='["/register"]'>Register</a>
      </li>
      <li class="border-top border-secondary"
          *ngIf="!localStorageService.currentUser">
      </li>
      <li *ngIf="!localStorageService.currentUser">
        <a class=" nav-link" [routerLink]='["/login"]'>Log In</a>
      </li>
      <li class="d-block d-lg-none"
          *ngIf="localStorageService.currentUser">
        <a class="nav-link text-white">
          <img ngxGravatar
               [email]="localStorageService.currentUser.email || ''" > {{localStorageService.currentUser.email}}</a>
      </li>
      <li class="border-top border-secondary d-block d-lg-none"
          *ngIf="localStorageService.currentUser">
        <a class="nav-link cursor-pointer"
           [routerLink]='["/settings"]'>Settings</a>
      </li>
      <li class="border-top border-secondary d-block d-lg-none"
          *ngIf="localStorageService.currentUser"
          (click)="signOut();">
        <a (click)="false"
           class="nav-link cursor-pointer">Log Out</a>
      </li>
      <li dropdown
          *ngIf="localStorageService.currentUser">
        <img class="cursor-pointer d-none d-lg-block"
             dropdownToggle
             aria-controls="basic-link-dropdown"
             ngxGravatar
             [email]="localStorageService.currentUser.email || ''">
        <ul *dropdownMenu
             class="dropdown-menu dropdown-menu-right"
             role="menu"
             aria-labelledby="basic-link">
          <li class="btn-clear">Signed in as <span class="font-weight-bold">{{localStorageService.currentUser.email}}</span>
          </li>
          <li class="divider dropdown-divider"></li>
          <li role="menuitem">
            <a class="dropdown-item" [routerLink]='["/settings"]'>Settings</a>
          </li>
          <li class="divider dropdown-divider"></li>
          <li *ngIf="localStorageService.currentUser"(click)="signOut();">
            <a (click)="false" class="cursor-pointer dropdown-item">Log Out</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
