<form class="login-form" (ngSubmit)="onSignUpSubmit()" [formGroup]="registrationForm">
  <input  type="email"
          name="login"
          formControlName="login"
          placeholder="Email"
          class="validate"
          id="email"
          required>
  <input  type="name"
          name="name"
          formControlName="name"
          placeholder="Name"
          id="name">
  <input  type="password"
          name="password"
          formControlName="password"
          placeholder="Password"
          class="validate"
          id="password"
          required>
  <input  type="password"
          name="passwordConfirmation"
          formControlName="passwordConfirmation"
          placeholder="Password confirmation"
          class="validate"
          id="passwordConfirmation"
          required>
  <button type="submit"
          class="btn btn-success"
          [disabled]="registrationForm.invalid">register</button>
  <div class="alert alert-danger" [hidden]="registrationForm.valid || registrationForm.untouched">
    <div *ngIf="registrationForm.controls.login.errors?.email">
      Email has invalid format
    </div>
    <div *ngIf="registrationForm.controls.login.errors?.required">
      Email is required
    </div>
    <div *ngIf="registrationForm.controls.password.errors?.required">
      Password is required
    </div>
    <div *ngIf="registrationForm.controls.password.errors?.minlength">
      Password must be longer than 8
    </div>
    <div *ngIf="registrationForm.controls.passwordConfirmation.errors?.equalTo">
      Passwords don't match
    </div>
  </div>
</form>
