<form class="form-group" (ngSubmit)="onSignUpSubmit()" [formGroup]="registrationForm">
  <label for="email">Email address</label>
  <input  type="email"
          name="login"
          id="email"
          formControlName="login"
          class="form-control"
          required>
  <label for="name">Name</label>
  <input  type="name"
          name="name"
          id="name"
          formControlName="name"
          class="form-control">
  <label for="password">Password</label>
  <input  type="password"
          name="password"
          id="password"
          formControlName="password"
          class="form-control"
          required>
  <label for="passwordConfirmation">Password confirmation</label>
  <input  type="password"
          name="passwordConfirmation"
          id="passwordConfirmation"
          formControlName="passwordConfirmation"
          class="form-control"
          required>
  <button type="submit"
          class="btn btn-success"
          [disabled]="registrationForm.invalid || submitDisabled">register</button>
  <div class="alert alert-danger" [hidden]="registrationForm.valid || registrationForm.untouched">
    <div *ngIf="registrationForm.controls.login.errors?.email">
      Email has invalid format
    </div>
    <div *ngIf="registrationForm.controls.login.errors?.required">
      Email is required
    </div>
    <div *ngIf="registrationForm.controls.password.errors?.required">
      Password is required
    </div>
    <div *ngIf="registrationForm.controls.password.errors?.minlength">
      Password must be longer than 8
    </div>
    <div *ngIf="registrationForm.controls.passwordConfirmation.errors?.equalTo">
      Passwords don't match
    </div>
  </div>
</form>
