<div [sortablejs]="events" [sortablejsOptions]="sortableOptions" class="events-list">
  <div *ngFor="let event of events" [attr.data-event-id]="event.attributes.id" class="events-list__item cursor-move">
    <div>
      <a [routerLink]="['/projects', projectId, 'event', event.attributes.id]">
        {{event.attributes.title}}
      </a>
      <span tooltip="{{event.attributes.created_at | date:'medium'}}" placement="bottom" class="text-muted cursor-pointer">
        {{event.attributes.created_at | timeAgo}}
      </span>
    </div>
    <small *ngIf="event.attributes.message">
      {{event.attributes.message}}
    </small>
  </div>
</div>
