@import './styles/variables';
@import '../node_modules/bootstrap/scss/bootstrap';
@import './styles/public_pages';
@import './styles/custom';

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
               sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  font-size: 14px;
}
ul {
  list-style-type: none;
}
label {
  margin-bottom: .5rem;
}
input, textarea {
  margin: .25rem 0 1rem;
}
button {
  margin-bottom: .5rem;
  text-transform: capitalize;
}
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
.fade-in {
  opacity:0;
  animation:fadeIn ease-in 1;
  animation-fill-mode:forwards;
  animation-duration:.5s;
}

app-project .subsciption-alert {
  .alert {
    border-radius: 0;
    margin: 0;
  }
}
