@import './styles/variables';
@import './styles/public_pages';
@import '../node_modules/bootstrap/scss/bootstrap';

html{ overflow-y: scroll;}

body {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
