.docs-text {
  width: 1000px;
  padding: 40px;
  text-align: justify;
  ::ng-deep {
    pre {
      background-color: #24292E;
    }
    h2 {
      margin-top: 35px;
      margin-bottom: 15px;
    }
  }
}
