<form class="form-group" (ngSubmit)="onResetPasswordSubmit()" [formGroup]="resetPasswordForm">
  <label for="email">Enter your email address and we will send you a link to reset your password.</label>
  <input type="email"
         id="email"
         formControlName="login"
         class="form-control"
         required>
  <button type="submit"
          class="btn btn-success"
          [disabled]="resetPasswordForm.invalid || submitDisabled">Send password reset email</button>
  <div class="alert alert-danger" [hidden]="resetPasswordForm.valid || resetPasswordForm.untouched">
    <div *ngIf="resetPasswordForm.controls.login.errors?.email">
      Email has invalid format
    </div>
    <div *ngIf="resetPasswordForm.controls.login.errors?.required">
      Email is required
    </div>
  </div>
</form>
