@import '../../../../styles/variables';

:host {
  input[type=radio]:checked + label > .card {
    background: $athens_gray;
  }
  .card {
    width: 280px;
  }
  .btn-choose-plan {
    padding: 1rem 1.5rem;
  }
}
